@font-face {
  font-family: myFirstFont;
  src: url(./Graphik-Font-Family/GraphikMedium.otf);
}
#main {
  background-image: url("./4x/spaceBg.png");
  background-size: cover;
  width: 919px;
  height: 403px;
  display: block;
  font-family: myFirstFont;
}
#retry {
  border: none;
  background: none;
  position: absolute;
  background-image: url("./4x/retry.png");
  background-size: cover;
  width: 45px;
  top: 220px;
  left: 445px;
  height: 48px;
  text-align: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#incorrect {
  border: none;
  background: none;
  position: absolute;

  background-size: cover;
  width: 90px;
  top: 120px;
  left: 420px;
  height: 95px;
  text-align: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#partial {
  border: none;
  background: none;
  position: absolute;

  background-size: cover;
  width: 90px;
  top: 120px;
  left: 420px;
  height: 95px;
  text-align: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#correct {
  border: none;
  background: none;
  position: absolute;

  background-size: cover;
  width: 90px;
  top: 120px;
  left: 420px;
  height: 95px;
  text-align: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#startButton {
  border: none;
  background: none;
  position: absolute;
  background-image: url("./4x/redButton.png");
  background-size: cover;
  width: 110px;
  top: 250px;
  left: 750px;
  height: 110px;
  text-align: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#ques {
  border: none;
  background: none;
  position: absolute;

  background-size: cover;
  width: 100px;
  top: 190px;
  left: 780px;
  height: 170px;
  text-align: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

#heading {
  position: absolute;
  height: 40px;
  width: 850px;
  background-image: url("./4x/design1.png");
  background-size: cover;
  top: 20px;
  left: 34.5px;
  text-align: center;
  color: white;
  font-size: 33px;
  cursor: default;
  user-select: none;
}
#retry,
#incorrect,
#partial,
#correct,
#startButton,
#ques,
#heading {
  font-family: myFirstFont;
}
